<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Olympics</title>

    <!-- css -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- js -->

</head>

<body>

<header id="site-header">
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Olympics Events</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/events">Events</a></li>
                <li><a href="/events/create">Create</a></li>
            </ul>
        </div>
    </div>
</header>

<main id="site-main">
    <div class="container">
        <%- body %>
    </div>
</main>

<footer id="site-footer">Copyright &copy; Pablo F. Guerra 2017</footer>
</body>

</html>